<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recherche par utilisateur
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form (ngSubmit)="searchByUser()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [(ngModel)]="userEmail" name="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" [(ngModel)]="userNom" name="nom">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Prénom" [(ngModel)]="userPrenom" name="prenom">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Rechercher</button>
      </form>
      <mat-list *ngIf="reservations.length > 0">
        <mat-list-item *ngFor="let reservation of reservations">
          {{reservation.userNom}} {{reservation.userPrenom}} - {{reservation.date | date:'HH:mm'}}
          <ng-container *ngIf="!reservation.done">
            <button mat-raised-button color="primary" (click)="confirmVaccination(reservation.id)">Valider la vaccination</button>
            <button mat-button color="warn" (click)="deleteReservation(reservation.id)" *ngIf="isAdmin">Supprimer</button>
          </ng-container>
          <ng-container *ngIf="reservation.done">
            <button mat-raised-button color="primary" disabled>Effectuée</button>
          </ng-container>
          </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recherche par date
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-gestion-reservation-list [centre]="centre"></app-gestion-reservation-list>
    </mat-expansion-panel>
  </mat-accordion>