<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Ajouter un nouveau centre de vaccination</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="saveError">
            <p>
                <mat-icon>error</mat-icon>
                {{errorMessage}}
            </p>
        </div>
        <form (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Nom du centre</mat-label>
                <input matInput placeholder="Nom" name="nom" [(ngModel)]="center.nom">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Adresse</mat-label>
                <input matInput placeholder="Adresse" name="adresse" [(ngModel)]="center.adresse">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Ville</mat-label>
                <input matInput placeholder="Ville" name="ville" [(ngModel)]="center.ville">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Code postal</mat-label>
                <input matInput placeholder="Code postal" name="codePostal" [(ngModel)]="center.codePostal">
            </mat-form-field>
            <p>
                <button mat-raised-button color="primary" type="submit">Enregistrer</button>
            </p>
            <p>
                <button mat-raised-button color="warn" routerLink="/management/centers">Annuler</button>
            </p>
        </form>
    </mat-card-content>
</mat-card>
