<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Liste des centres de vaccination</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <a mat-raised-button color="primary" routerLink="/management/addCenter">Ajouter un centre</a>
        </p>
        <mat-form-field>
            <input type="text" matInput placeholder="Rechercher" name="search" [(ngModel)]= "searchText" (ngModelChange)="updateList()">
            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field>
        <br>
        <mat-list *ngFor="let center of filteredCenters">
            <mat-list-item>
                {{center.nom}}
                <button mat-button color="primary" routerLink="/management/center/{{center.id}}">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="warn" (click)="deleteCenter(center.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
