<div class="container">
    <mat-card>
        <mat-card-header>
        <mat-card-title>
            <h4>Bienvenue sur le site de prise de rendez-vous de vaccination contre le covid-19</h4>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <p>La vaccination est un acte médical important pour vous protéger et protéger les autres contre des maladies infectieuses. Elle permet de contrôler, voire d’éradiquer certaines maladies. La vaccination est un geste de solidarité.</p>
        <p>La vaccination est un acte médical important pour vous protéger et protéger les autres contre des maladies infectieuses. Elle permet de contrôler, voire d’éradiquer certaines maladies. La vaccination est un geste de solidarité.</p>
        <p>La vaccination est un acte médical important pour vous protéger et protéger les autres contre des maladies infectieuses. Elle permet de contrôler, voire d’éradiquer certaines maladies. La vaccination est un geste de solidarité.</p>
        <p>La vaccination est un acte médical important pour vous protéger et protéger les autres contre des maladies infectieuses. Elle permet de contrôler, voire d’éradiquer certaines maladies. La vaccination est un geste de solidarité.</p>
        <p>La vaccination est un acte médical important pour vous protéger et protéger les autres contre des maladies infectieuses. Elle permet de contrôler, voire d’éradiquer certaines maladies. La vaccination est un geste de solidarité.</p>
        <p>La vaccination est un acte médical important pour vous protéger et protéger les autres contre des maladies infectieuses. Elle permet de contrôler, voire d’éradiquer certaines maladies. La vaccination est un geste de solidarité.</p>
        <p>La vaccination est un acte médical important pour vous protéger et protéger les autres contre des maladies infectieuses. Elle permet de contrôler, voire d’éradiquer certaines maladies. La vaccination est
        un geste de solidarité.</p>
        </mat-card-content>
    </mat-card>
</div>
