<div class="container">
    <mat-card>
        <mat-card-header>
        <mat-card-title>
            <h4>Informations de contact</h4>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <p>Numéro de téléphone : 01 23 45 67 89</p>
        <p>Adresse mail : <a href="mailto:contact@fake-email.com">contact@fake-email.com</a></p>
        <button mat-raised-button color="primary" routerLink="/home">Retour</button>
        </mat-card-content>
    </mat-card>
</div>
