<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand ps-2 pt-2">Vaccination Covid </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/centers">Centres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/informations">Informations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservations">Vos rendez-vous</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/account">Mon compte</a>
      </li>
    </ul>
  </div>