<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<div>
    <mat-toolbar color="primary">
        <span>Vaccinations Covid</span>
        <div class="mat-toolbar-row">
            <button mat-button routerLink="/home">Accueil</button>
            <button mat-button routerLink="/centers">Centres</button>
            <button mat-button routerLink="/contact">Contact</button>
            <span class="spacer"></span>
            <button mat-button routerLink="/login" *ngIf="!isLoggedIn">Se connecter</button>
            <div *ngIf="isLoggedIn">
                <button mat-button routerLink="/management">Gestion</button>
                <button [matMenuTriggerFor]="menuNav" mat-button>
                    <mat-icon>account_circle</mat-icon>
                    {{prenom}} {{nom}}
                </button>
                <mat-menu #menuNav="matMenu">
                    <button mat-menu-item routerLink="/profile">Profil</button>
                    <button mat-menu-item routerLink="/reservations">Mes réservations</button>
                    <button mat-menu-item (click)="logout()">Se déconnecter</button>
                </mat-menu>
            </div>
        </div>
        
    </mat-toolbar>
</div>
<div>
    <router-outlet></router-outlet>
</div>
