<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<div>
    <mat-toolbar color="primary">
        <span>My App</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/home">Accueil</button>
        <button mat-button routerLink="/centers">Centres</button>
        <button mat-button routerLink="/contact">Contact</button>
        <span class="spacer"></span>
        <button mat-button routerLink="/login" *ngIf="isLoggedIn==false">Se connecter</button>
        <button mat-button (click)="logout()" *ngIf="isLoggedIn==true">Se déconnecter</button>
    </mat-toolbar>
</div>
<div>
    <router-outlet></router-outlet>
</div>
